<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget-Password Page</title>
    <link rel="stylesheet" href="css/forgetPassword.css">
</head>
<body>
    <div class="container">
        <h1>Forgot Password?</h1>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="name@example.com">
        
        <p id="resetpassword">Send Reset Link</p>

        <h2>Result:</h2>
        <div id="reset_link"></div>
    </div>
</body>
<script src="js/forgetpassword.js"></script>
</html>