<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget-Password Page</title>
</head>
<body>
    <h1>Heyy You forget your pass huh?</h1>
    <label for="email">E-mail</label>
    <input type="email" name="email" id="email">
    <p id="resetpassword">Heyy click Here to get a Reset Password link</p>

    <br><br>
    <h2>You get Link Below if Account exits :</h2>
    <div id="reset_link"></div>
</body>
<script src="js/forgetpassword.js"></script>
</html>