<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>

<body>
    <h1>Heyyy Welcome to Reset password page</h1>
    <br><br>
    <form>
        <div>
            <label for="email"><b>E-mail</b></label>
            <input type="email" name="email" id="email" placeholder="Enter Email" required>
            <label for="password">Password : </label>
            <input type="password" name="password" id="password">
            <label for="cpassword">Confirm Password : </label>
            <input type="cpassword" name="cpassword" id="cpassword">
            <p id="reset_btn">Reset</p>

            <br><br>
            <p id="message"></p>
        </div>
    </form>
</body>
<script src="js/resetpassword.js"></script>

</html>